/**
 * Site Layout
 */
 
 .pacifico {
	font-family: 'Pacifico', cursive;
	font-weight:100;
 }

 .isSmallFont {
	 font-size: 150%;
	 @media (max-width: 767px) {
		font-size: 120%;
	 }
 }

 .isFW {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
 }

 .rosie {
	 @media (max-width: 767px) {
		 max-width:200px;
		 margin: 0 auto;
		 display:block;
	 }
 }

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.site-content {
	box-sizing: border-box;
	flex-grow: 1;
	width: 100%;
}

.services-heading {
	margin-bottom:4rem;
}

.fwReview {
	flex: 0 0 100%;
	max-width: 100%;
	h1 {
		margin-bottom: -2.5rem;
	}
	p {
		padding-left: 1.5rem;
	}
}

footer {
	img {
		max-width:200px;
	}
}

.layout-boxed {
	background-color: $color-boxed-bg;

	.site {
		background-color: $color-body-bg;
		margin-left: auto;
		margin-right: auto;
		// max-width: container-max-width(xlarge);
		max-width: 100%;
	}

	@media (min-width: 1401px) {
		.site {
			border-left: 1px solid $color-boxed-border;
			border-right: 1px solid $color-boxed-border;
		}

		&.style-bold {
			.site {
				border-left-width: 2px;
				border-right-width: 2px;
			}
		}
	}
}